:root {
    --midnight: #010133;
    --light-royal-blue: #3939f8;
    --white: #ffffff;
    --aqua-green: #19d19b;
}

html,
p {
    margin: 0;
    border: 0;
}

header {
    height: 500px;
    position: relative;
}

.nav-item .nav-link {
    font-size: 12px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--aqua-green);
}

.navbar-light .navbar-nav .active {
    color: var(--aqua-green);
}

.dropdown-menu a {
    font-size: 12px;
}

.estimate-nav {
    color: var(--aqua-green);
}

.estimate-nav:hover {
    border: 2px solid var(--aqua-green);
    border-radius: 30px;
    padding: 5px 20px;
}


/* NAVIGATION STYLING */

.navbar-brand {
    display: none;
}

.nav-item .active {
    color: var(--aqua-green);
    border: 2px solid var(--aqua-green);
    border-radius: 50px;
}

.estimate-heading {
    width: 100%;
    padding: 80px 0px;
}

.estimate-heading h1 {
    text-transform: uppercase;
    color: var(--light-royal-blue);
    font-size: 40px;
    font-weight: 600;
}

.estimate-heading p {
    /* font-family: Gelion-Regular; */
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.24px;
    text-align: center;
    color: #020234;
}

.chat-btn {
    background-color: var(--aqua-green);
    padding: 18px;
    border-radius: 50px;
}

.chat-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-btn img {
    width: 20px;
}

.main-heading {
    margin: 50px 0px;
}

.main-heading h6 {
    color: var(--midnight);
    font-size: 16px;
    line-height: 17.5px;
    letter-spacing: 0.32px;
}

.development-components-body {
    border: 1px var(--light-royal-blue) solid;
    border-radius: 10px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-top: 50px;
}

.development-components-body:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.development-components-body img {
    width: 40px;
    height: 50px;
    align-items: center;
}

.development-components-body p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.development-components-body input {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 10px;
}

.development-components-body label {
    padding: 0;
    height: 80px;
}

.form-group input {
    border: none;
    border-bottom: 1px solid var(--light-royal-blue);
    border-radius: 0;
}

.form-group input::placeholder {
    color: var(--light-royal-blue);
    font-size: 14px;
    line-height: 2px;
}

.form-email {
    color: var(--light-royal-blue);
}

.image-slider .slider-btn {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 100%;
}

.image-slider .slider-btn-last {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 100%;
}


/* OUR SERVICE STYLING */

.our-service-mainbody {
    margin-bottom: 100px;
}

.our-service-heading {
    text-align: center;
    padding: 80px 0px;
}

.our-service-heading h4 {
    font-size: 30px;
    color: var(--light-royal-blue);
    letter-spacing: 2px;
}

.our-service-heading p {
    font-size: 11px;
    font-weight: bold;
}

.our-serv {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    padding: 50px 0px;
    border-radius: 20px 0px 0px 0px;
}

.our-comp {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    padding: 50px 0px;
}

.our-proposal {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    padding: 50px 0px;
}

.boder {
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

.our-market {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    padding: 50px 0px;
    border-radius: 0px 0px 0px 20px;
}

.our-inno {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    padding: 50px 0px;
}

.buss-plan {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    padding: 50px 0px;
}

.pitch-serv {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 0px;
    border-radius: 0px 20px 0px 0px;
    padding: 50px 0px;
}

.serv:hover {
    background-color: var(--light-royal-blue);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.innovation-btn {
    background-color: #E9E9FB;
    border-radius: 50%;
    padding: 25px;
    margin-bottom: 10px;
}

.innovation-btn>img {
    width: 30px;
    height: 30px;
}

.feasi-serv {
    font-size: 14px;
    border-color: var(--light-royal-blue);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding: 50px 0px;
    border-radius: 0px 0px 20px 0px;
}


/* FOOTER STYLING */

.footer {
    background-color: var(--midnight);
}

.footer-logo img {
    width: 70%;
}

.footer-section {
    font-size: 12px;
    padding: 20px 0px;
}


/* OUR SERVICE TECHNOLOGY PAGE */

.add-padding {
    padding: 50px;
}

.our-service-content p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}

.our-service-content>button {
    background-color: #E6FAF4;
    padding: 20px;
    border-radius: 50%;
}

.our-service-individual {
    margin-top: 60px;
}

.our-service-individual h3 {
    font-size: 30px;
    color: var(--aqua-green);
}

.our-service-individual p {
    font-size: 12px;
    line-height: 2;
}

.add-boreder {
    border-color: var(--aqua-green);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

.add-border-left {
    border-color: var(--aqua-green);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

.top-left-border {
    border-color: var(--aqua-green);
    border-style: solid;
    border-width: 1px 1px 0px 0px;
}

.top-border {
    border-color: var(--aqua-green);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.our-service-content>button>img {
    width: 30px;
    height: 35px;
}

.our-service-table {
    margin: 70px 0px;
}

.our-serv-hover:hover {
    background-color: var(--aqua-green);
    color: white;
    cursor: pointer;
}

.our-serv-hover-last:hover {
    background-color: var(--aqua-green);
    color: white;
    border-radius: 0 0 20px 0;
    cursor: pointer;
}

.our-serv-hover-coner:hover {
    background-color: var(--aqua-green);
    color: white;
    border-radius: 0px 20px 0px 0px;
    cursor: pointer;
}

.our-serv-hover-first:hover {
    background-color: var(--aqua-green);
    color: white;
    border-radius: 20px 0px 0px 0px;
    cursor: pointer;
}

.our-serv-hover-second:hover {
    background-color: var(--aqua-green);
    color: white;
    border-radius: 0px 0px 0px 20px;
    cursor: pointer;
}

.option-pick,
.privacy-text {
    font-size: 12px;
}

.estimate-btn {
    background-color: var(--aqua-green);
    border: 0;
    font-size: 15px;
    text-align: center;
}

.estimate-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--aqua-green);
}


/* MODAL FOR OUR SERVICE TECHNOLOGY */

.modal-body-title {
    color: var(--aqua-green);
    font-size: 24px;
    line-height: 2;
}

.modal-body-content {
    font-size: 13px;
    color: #707070;
}

.modal-img {
    background-color: #E6FAF4;
    padding: 50px;
    border-radius: 50%;
}


/* ABOUT US */

.about-header {
    background-image: url(../assets/Mask\ Group\ 7@3x.png);
    background-position: center;
    background-repeat: no-repeat;
}

.about-heading {
    padding: 50px 0;
}

.about-conte p {
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.22px;
}

.about-heading .about-company-text {
    font-size: 24x;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 15px;
}

.about-heading .about-company-heading {
    color: var(--aqua-green);
    font-size: 22.5px;
    letter-spacing: 1px;
}

.about-value {
    background-image: url(../assets/Group\ 7494@2x.png);
    background-position: top;
    background-repeat: no-repeat;
}

.about-value-heading {
    text-align: right;
    padding: 80px 0px;
}

.about-value-heading p {
    font-size: 12px;
    line-height: 2;
}

.about-value-heading h4 {
    color: var(--light-royal-blue);
    font-size: 21px;
    line-height: 2;
}

.our-process-img {
    margin-top: 50px;
}

.our-process-text {
    text-align: left;
    padding: 60px 0px;
}

.our-process-text h3 {
    font-size: 24px;
}

.our-process-text h4 {
    font-size: 22.5px;
    color: var(--aqua-green);
    letter-spacing: 1px;
    line-height: 1.5;
}

.our-process-text p {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2;
}

.deskter-word h1 {
    font-size: 152px;
    color: #F5F5F6;
    letter-spacing: 3px;
    font-weight: 800;
    margin-bottom: -30px;
}


/* 

MOBILE VIEW STYLING FOR ALL PAGES 

-NAV-LOGO
-ABOUT-PAGE
-OUR-SERVICE-PAGE
||||||||||||||||||||||| |||||||||
^^^^^^^^^^^^^^^^^^^^^^^ ^^^^^^^^^
*/


/* Iphone screen */


/* Medium devices (landscape tablets, 991px and up) */

@media only screen and (max-width: 991px) {
    .navbar-brand {
        display: contents;
    }
    .navbar-desktop {
        display: none;
    }
    .estimate-nav {
        border: 0px;
        border-radius: 0px;
        padding: 0px;
    }
    /* OUR-SERVICE BUSINESS */
    .buss-plan {
        font-size: 14px;
        border-color: var(--light-royal-blue);
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        padding: 50px 0px;
        border-radius: 0px 20px 0px 0px;
    }
    .our-proposal {
        font-size: 14px;
        border-color: var(--light-royal-blue);
        border-style: solid;
        border-width: 1px 0px 0px 0px;
        padding: 50px 0px;
    }
    .our-serv {
        border-width: 0px 1px 1px 0px;
        border-radius: 20px 0px 0px 0px;
    }
    .pitch-serv {
        border-radius: 0px;
    }
    .our-inno {
        border-radius: 0px 0px 0px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        display: contents;
    }
    .navbar-desktop {
        display: none;
    }
    .estimate-nav {
        border: 0px;
        border-radius: 0px;
        padding: 0px;
    }
    .image-slider {
        display: none;
    }
    .container {
        padding: 0 30px;
    }
    /* OUR SERVICE TECHNOLOGY PAGE */
    .add-border-left {
        border-color: var(--aqua-green);
        border-style: solid;
        border-width: 1px 0px 0px 0px;
    }
    .top-left-border {
        border-color: var(--aqua-green);
        border-style: solid;
        border-width: 1px 0px 0px 0px;
    }
    .top-border {
        border-color: var(--aqua-green);
        border-style: solid;
        border-width: 1px 0px 0px 0px;
    }
    .our-serv-hover:hover {
        background-color: var(--aqua-green);
        color: white;
        cursor: pointer;
    }
    .our-serv-hover-last:hover {
        background-color: var(--aqua-green);
        color: white;
        border-radius: 0px 0px 20px 20px;
        cursor: pointer;
    }
    .our-serv-hover-coner:hover {
        border-radius: 0px;
    }
    .our-serv-hover-first:hover {
        background-color: var(--aqua-green);
        color: white;
        border-radius: 20px 20px 0px 0px;
        cursor: pointer;
    }
    .our-serv-hover-second:hover {
        background-color: var(--aqua-green);
        color: white;
        border-radius: 0px;
        cursor: pointer;
    }
    /* GENERAL FOOTER STYLING MOBILE */
    .footer-right {
        font-size: 10px;
    }
    .footer-logo img {
        width: 70px;
    }
    /* ABOUT US STYLING MOBILE   */
    .deskter-word h1 {
        font-size: 52px;
        margin: 0;
    }
    .about-value-heading {
        text-align: center;
    }
    .about-value-heading h4 {
        line-height: 1.5;
    }
    /* OUR SERVICE BUSINESS PAGE MOBILE */
    .our-serv {
        border-width: 0px 0px 1px 0px;
        border-radius: 20px 20px 0px 0px;
    }
    .buss-plan {
        border-radius: 0px;
    }
    .our-comp {
        border-width: 0px 0px 1px 0px;
    }
    .our-inno,
    .our-market {
        border-radius: 0px;
        border-right: 0px;
    }
    .feasi-serv {
        border-radius: 0px 0px 20px 20px;
    }
}